# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django files
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Agent files
.agents/
.gemini/
